:root {
    --lightest-slate: #ccd6f6;
    --lightest-blue: rgba(63,244,247,255)
}

@font-face {
    font-family: monospace;
    src: url(assets/fonts/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: Calibre-bold;
    src: url(assets/fonts/CalibreBold.otf);
}

@font-face {
    font-family: Calibre-regular;
    src: url(assets/fonts/CalibreRegular.otf);
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

body {
    background-color: rgba(0,0,36,255);
}

* {
    /* border: 1px solid red; */
}

main {
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    padding: 12vw 0 0 0;
    /* height: 550vh; */
}




















/* ---------Header---------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 9vh;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    /* background-color: rgb(46, 45, 45); */
    /* background-color: #708090; */
    background-color: rgba(0,0,36,255);
    box-shadow: 10px 0.1px 90px black;
    display: flex;
}

/* untuk menyembunyikan header  */
.header.hide {
    transform: translateY(-100%);
}

.img-logo-header {
    width: 50px;
    height: 50px;
    margin-top: 7.5px;
    margin-left: 68px;
}

/* a di navigation  */
.a-header {
    text-decoration: none;
    padding: 10px;
    margin: 1vh 2vw 0vh 2vw;
    font-weight: bold;
    font-family: 'roboto mono', sans-serif;
    font-size: 1.4rem;
    color: var(--lightest-slate);
}

/* navigation */
nav {
    position: absolute;
    right: 0;
    margin: 3vh 2vw 0vh 0vw;
}

/* underline disetiap judul  */
.underline-title {
    /* border: 1px solid rgb(255, 255, 255); */
    border: 1px solid var(--lightest-blue);
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 58vw;
}

.a-contact {
    /* border: 1px solid white; */
    border-radius: 3px;
    color: var(--lightest-blue);
    /* background-color: rgba(0, 183, 255, 0.8); */
}

.a-resume {
    /* border: 1px solid white; */
    border-radius: 3px;
    color: var(--lightest-blue);
    /* background-color: rgba(0, 183, 255, 0.8); */
}

.a-contact:hover {
    /* background-color: #0a192f; */
    color: var(--lightest-slate);
    transition: 0.5s;
}

.a-resume:hover {
    /* background-color: #0a192f; */
    color: var(--lightest-slate);
    transition: 0.5s;
}


















.div-main-first {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    /* gap: 5vw; */    
}

.div-main-first .div-main-first-p1 {
    color: var(--lightest-blue);
    font-family: monospace;
    font-size: 18px;
}

.div-main-first h1, h2{
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: 0;
}

.div-main-first-p2 {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin: 0;
    opacity: 0.7;
    width: 55%;
    font-size: 1.2vw;
}

.div-main-first h1 {
    font-size: 4.5vw;
}

.div-main-first h2 {
    font-size: 4vw;
    opacity: 0.8;
}

.a-div-main-first {
    text-decoration: none;
    color: var(--lightest-blue);
    font-family: monospace;
    padding: 1vw;
    border: 1px solid var(--lightest-blue);
    border-radius: 5px;
    font-size: 1vw;
    margin-top: 1vw;
    display: inline-block;
}

.a-div-main-first:hover {
    background-color: var(--lightest-blue);
    color: rgba(0,0,36,255);
    font-weight: bold;
}

.div-profile-image {
    margin-top: 3vh ;
}

.profile-picture {
    border-radius: 100%;
    padding: 1vw;
    width: 17vw;
    border: 4px solid rgba(63,244,247,255);
}








/* -----------Portfolio---------- */
.div-title-portfolio {
    display: flex;
    margin-top: 30vh;
    padding: 0px 18vw 0 18vw;
    margin-bottom: 15vh;
}

.h1-portfolio {
    margin: 0;
    /* color: var(--lightest-blue); */
    color: var(--lightest-slate);
    font-family: monospace;
    font-size: 1.8rem;
}

.hr-portfolio {
    width: 150px;
    height: 0;
    margin-top: 2.5vh;
    /* background: var(--lightest-blue); */
    /* border: 1px solid var(--lightest-blue); */
    border: 1px solid var(--lightest-slate);
    /* border: 1px solid red; */
}

.h1-title-portfolio {
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: 10px 0 10px 0;
}

.div-main-portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.div-sub-main-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-web-blissfullbali {
    content: url(assets/images/Cover-Web-BlissfullBali.png);
    width: 30vw;
    height: 80vh;
}

.img-web-blissfullbali:hover {
    content: url(assets/images/Web-BlissfullBali.png);
    width: 30vw;
    height: 80vh;
    transition: 0.2s;
}

.a-portfolio {
    text-decoration: none;
    color: var(--lightest-blue);
    font-family: monospace;
    font-size: 1.2rem;
}

.div-main-img-and-text {
    display: flex;
    flex-direction: row;
    width: 38vw;
    margin-bottom: -20vh;
}

.img-cyan-dots {
    width: 250px;
    height: 250px;
    margin-top: -10vh;
}

.div-sub-main-img-and-text {
    margin-left: -10vw;
    width: 36vw;
    background-color: rgba(0,0,36,255);
    height: 25vh;
    padding: 1vw;
}

.h1-div-main-img-and-text {
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: 0;
    font-size: 3.2rem;
}

.a-div-sub-main-img-and-text {
    text-decoration: none;
    color: var(--lightest-blue);
    font-family: monospace;
    padding: 1vw;
    border: 1px solid var(--lightest-blue);
    border-radius: 5px;
    font-size: 1vw;
    margin-top: 1vw;
    display: inline-block;
}

.a-div-sub-main-img-and-text:hover {
    background-color: var(--lightest-blue);
    color: rgba(0,0,36,255);
    font-weight: bold;
}











/* ------------Achievement----------- */
.div-title-achievement {
    display: flex;
    margin-top: 18vh;
    padding: 0px 18vw 0 18vw;
}

.h1-achievement {
    margin: 0;
    /* color: var(--lightest-blue); */
    color: var(--lightest-slate);
    font-family: monospace;
    font-size: 1.8rem;
}

.hr-achievement {
    width: 150px;
    height: 0;
    margin-top: 2.5vh;
    /* background: var(--lightest-blue); */
    /* border: 1px solid var(--lightest-blue); */
    border: 1px solid var(--lightest-slate);
    /* border: 1px solid red; */

}

.div-main-achievement {
    margin-top: 15vh;
    display: flex;
    flex-direction: column-reverse;
    height: 370vh;
    justify-content: space-between;
}

.div-sub-main-left-achievement {
    display: flex;
    flex-direction: row;
    /* margin-top: 30vh; */
}

.img-achievement {
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
    /* width: 1311px;
    height: 1554px; */
}

.div-sub-main-left-achievement-text {
    width: 50%;
    margin-left: 2.5vw;
}

.h1-div-sub-main-left-achievement-text {
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: 0;
    font-size: 3rem;
}

.div-sub-main-left-date-achievement {
    display: flex;
    flex-direction: row;
    margin: 2vh 0 2vh 0;
}

.p-div-sub-main-left-achievement-text {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    opacity: 0.9;
    margin: 0;
    font-size: 1.2rem;
}

.div-sub-main-right-achievement {
    display: flex;
    flex-direction: row-reverse;
    /* margin-top: 30vh; */
}

.div-sub-main-right-achievement-text {
    width: 50%;
    margin-right: 2.5vw;
    text-align: right;
}

.h1-div-sub-main-right-achievement-text {
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: 0;
    font-size: 3rem;
}

.div-sub-main-right-date-achievement {
    display: flex;
    flex-direction: row;
    margin: 2vh 0 2vh 0;
    justify-content: end;
}

.p-div-sub-main-right-achievement-text {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    opacity: 0.9;
    margin: 0;
    font-size: 1.2rem;
}











































/* ----------Contact---------- */
.div-main-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.h2-div-main-contact {
    color: var(--lightest-blue);
}

.h1-div-main-contact {
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: 0;
    font-size: 2.6rem;
}

.p-div-main-contact {
    color: var(--lightest-slate);
    font-family: Calibre-bold;
    margin: auto;
    font-size: 1.3rem;
    width: 50%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.a-div-main-contact {
    text-decoration: none;
    color: var(--lightest-blue);
    font-family: monospace;
    padding: 1vw;
    border: 1px solid var(--lightest-blue);
    border-radius: 5px;
    font-size: 1vw;
    margin-top: 1vw;
    display: inline-block;
    width: 15%;
    margin: auto;
}

.a-div-main-contact:hover {
    background-color: var(--lightest-blue);
    color: rgba(0,0,36,255);
    font-weight: bold;
}































/* -----------Right Side Gmail---------- */
.div-gmail {
    /* transform: rotateX('90deg'); */
    position: fixed;
    transform: rotate(90deg);
    right: -8vw;
    bottom: 24vh;
    display: flex;
    flex-direction: row;
}

.a-gmail {
    color: var(--lightest-slate);
    text-decoration: none;
    font-family: Calibre-regular;
    /* writing-mode: vertical-lr; */
    font-size: 1.2rem;
}

.a-gmail:hover {
    color: var(--lightest-blue);
    transition: 0.5s;
}

.hr-gmail {
    margin-left: 1vw;
    width: 23vh;
    bottom: 0;
    height: 0;
    border: 1px solid var(--lightest-slate);
}




















/* ----------Left Side Social Media--------- */
.div-social-media {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    position: fixed;
    top: 22vh;
    left: -14vw;
    /* width: 2%; */
    /* border: 1px solid red; */
}

.div-sub-social-media {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
}

.hr-social-media {
    width: 25vw;
    bottom: 0;
    height: 0;
    border: 1px solid var(--lightest-slate);
    margin: auto;
}

.github-social-media-side,
.linkedin-in-social-media-side,
.instagram-social-media-side,
.x-twitter-social-media-side {
    font-size: 23px;
    color: var(--lightest-slate);
    transform: rotate(-90deg) !important
    /* margin-right: 10px; */
}

.fa-github:hover {
    color: var(--lightest-blue);
    transition: 0.5s;
}

.fa-linkedin-in:hover {
    color: var(--lightest-blue);
    transition: 0.5s;
}

.fa-instagram:hover {
    color: var(--lightest-blue);
    transition: 0.5s;
}

.fa-x-twitter:hover {
    color: var(--lightest-blue);
    transition: 0.5s;
}












/* -----------Footer--------- */
footer {
    background-color: rgba(0,0,42,255);
}

.div-main-footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 75%;
    margin: auto;
}

.div-sub-main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-logo-footer {
    width: 50px;
    height: 50px;
}

.p-div-logo-and-text {
    width: 410px;
    color: var(--lightest-slate);
    font-family: Calibre-regular;
}

.div-navigation {
    display: flex;
    flex-direction: column;
}

.h1-div-navigation {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin-top: 7px;
    margin-bottom: 7px;
}

.about-footer {
    width: 40px;
}

.portfolio-footer {
    width: 53px;
}

.achievement-footer {
    width: 82px;
}

.contact-footer {
    width: 52px;
}

.resume-footer {
    width: 52px;
}

.about-footer:hover {
    color: var(--lightest-blue);
}

.portfolio-footer:hover {
    color: var(--lightest-blue);
}

.achievement-footer:hover {
    color: var(--lightest-blue);
}

.contact-footer:hover {
    color: var(--lightest-blue);
}

.resume-footer:hover {
    color: var(--lightest-blue);
}

.div-navigation a {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin-top: 7px;
    margin-bottom: 7px;
    text-decoration: none;
}

.div-get-in-touch {
    display: flex;
    flex-direction: column;
}

.h1-div-get-in-touch {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin-top: 7px;
    margin-bottom: 7px;
}

.div-get-in-touch-telephone {
    display: flex;
}

.fa-phone {
    color: var(--lightest-slate);
    height: 15px;
    margin-top: 8.5px;
    margin-right: 10px;
}

.div-get-in-touch-telephone p {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin-top: 7px;
    margin-bottom: 7px;
}

.div-get-in-touch-gmail {
    display: flex;
}

.fa-envelope {
    color: var(--lightest-slate);
    height: 15px;
    margin-top: 8.5px;
    margin-right: 10px;
}

.div-get-in-touch-gmail p {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin-top: 7px;
    margin-bottom: 7px;
}

.hr-footer {
    width: 70%;
    margin-top: 40px;
}

.copyright-footer {
    color: var(--lightest-slate);
    font-family: Calibre-regular;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}

.div-social-media-footer {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.github-footer,
.linkedin-in-footer,
.instagram-footer,
.x-twitter-footer {
    font-size: 23px;
    color: var(--lightest-slate);
}
















/* ----------Splash Screen---------- */
.div-main-splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,36,255);
    z-index: 200;
    margin: 0;
    padding: 0;
    top: 0;
}

.img-logo-splash-screen {
    width: 150px;
    height: 150px;
    margin-left: 45%;
    margin-top: 18%;
    animation: show 2s ease
}

.animation {
    animation: glide 3s ease;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glide {
    100% {
        margin-top: 7.5px;
        margin-left: 60px;
        width: 50px;
        height: 50px;
    }
}